body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #d4d4cc;
    background: grey;
    
}

.progress {
    background: #D3D3D3;
    width: 50%;
    display:inline-block;
}

    .progress .bar {
        width: 100%;
        height: 90px;
        text-align: center;
        font: 90px bold;
        padding-bottom:15px;
        font-family: Verdana;
    }

.count {
    margin-left: 25px;
    margin-right: 25px;
    font: 100px bold;
    display: inline-block;
    font-family: Verdana;
    width: 300px;
}

.button {
    border-radius: 10px;
    padding: 5px;
    width: 350px;
    margin-left: 25px;
    margin-right: 25px;
    font: 25px bold;
    display: inline-block;
    font-family: Verdana;
    cursor: pointer;
}

.hidden{
    display:none !important;
}