body {
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.progress {
    background: #D3D3D3;
    width: 50%;
    display:inline-block;
}

    .progress .bar {
        width:100%;
        height: 100px;
    }

.count {
    margin-left: 25px;
    margin-right: 25px;
    font: 100px bold;
    font-family: Verdana;
    display: inline-block;
    width:300px;
}

.button {
    padding:5px;
    width:20%;
    margin-left: 25px;
    margin-right: 25px;
    font: 25px bold;
    font-family: Verdana;
    display: inline-block;
    cursor:pointer;
}

.hidden{
    display:none !important;
}