body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #d4d4cc;
    background: grey;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

.whiteline {
    text-shadow: 0.5px 0.5px 0 #acacac, -0.5px 0.5px 0 #acacac, 0.5px -0.5px 0 #acacac, -0.5px -0.5px 0 #acacac, 0px 0.5px 0 #acacac, 0px -0.5px 0 #acacac, -0.5px 0px 0 #acacac, 0.5px 0px 0 #acacac, 1px 1px 0 #acacac, -1px 1px 0 #acacac, 1px -1px 0 #acacac, -1px -1px 0 #acacac, 0px 1px 0 #acacac, 0px -1px 0 #acacac, -1px 0px 0 #acacac, 1px 0px 0 #acacac, 0.5px 1px 0 #acacac, -0.5px 1px 0 #acacac, 0.5px -1px 0 #acacac, -0.5px -1px 0 #acacac, 1px 0.5px 0 #acacac, -1px 0.5px 0 #acacac, 1px -0.5px 0 #acacac, -1px -0.5px 0 #acacac;
}
.progress {
    background: #D3D3D3;
    width: 50%;
    display:inline-block;
}

    .progress .bar {
        width: 100%;
        height: 90px;
        text-align: center;
        font:bold;
        font-size: 90px;
        padding-bottom:15px;
        font-family: Verdana;
    }

.count {
    margin-left: 25px;
    margin-right: 25px;
    font:bold;
    font-size:100px;
    display: inline-block;
    font-family: Verdana;
    width: 360px;
}

.button {
    border-radius: 10px;
    padding: 5px;
    width: 350px;
    margin-left: 25px;
    margin-right: 25px;
    font: 25px bold;
    display: inline-block;
    font-family: Verdana;
    cursor: pointer;
}

    .button.switch {
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }

 .button.switch.active{
     color:gold;
}

.hidden{
    display:none !important;
}

.button.spec {
    background: rgb(0,0,0);
    width: 400px;
    height:150px;
    margin: 10px;
    font: 30px bold;
    font-family: Verdana;
}

.button.setting {
    background: rgb(255,255,255);
    width: 300px;
    height: 150px;
    margin: 10px;
    font: 50px bold;
    font-family: Verdana;
    color:black;
    text-shadow:none;
}

.button.spec.bought{
    border:double thick;
    border-width: 5px;
    border-color:forestgreen;
}

.prismColor {
    width: 100px;
    height: 100px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .slider.red::-webkit-slider-thumb {
        background: red;
    }
    .slider.green::-webkit-slider-thumb {
        background: rgb(0,255,0);
    }
    .slider.blue::-webkit-slider-thumb {
        background: rgb(0,0,255);
    }

    .slider.red::-moz-range-thumb {
        background: red;
    }

    .slider.green::-moz-range-thumb {
        background: rgb(0,255,0);
    }

    .slider.blue::-moz-range-thumb {
        background: rgb(0,0,255);
    }
    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

.popup {
    visibility: hidden;
    width: 25%;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    //bottom: 90%;
    //left: 50%;
    //margin-left: -40px;
    //margin-right: -40px;
}

@media screen and (max-width: 1660px) {
    .progress {
        background: #D3D3D3;
        width: 50%;
        display: inline-block;
    }

        .progress .bar {
            width: 100%;
            height: 75px;
            text-align: center;
            font: bold;
            font-size: 65px;
            padding-bottom: 10px;
            font-family: Verdana;
        }

    .count {
        margin-left: 25px;
        margin-right: 25px;
        font: bold;
        font-size: 75px;
        display: inline-block;
        font-family: Verdana;
        width: 300px;
    }

    .button {
        border-radius: 10px;
        padding: 5px;
        width: 275px;
        margin-left: 20px;
        margin-right: 20px;
        font: 20px bold;
        display: inline-block;
        font-family: Verdana;
        cursor: pointer;
    }

        .button.switch {
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
        }

            .button.switch.active {
                color: gold;
            }

    .hidden {
        display: none !important;
    }

    .button.spec {
        background: rgb(0,0,0);
        width: 400px;
        height: 150px;
        margin: 10px;
        font: 30px bold;
        font-family: Verdana;
    }

    .button.setting {
        background: rgb(255,255,255);
        width: 300px;
        height: 150px;
        margin: 10px;
        font: 50px bold;
        font-family: Verdana;
        color: black;
        text-shadow: none;
    }

    .button.spec.bought {
        border: double thick;
        border-width: 5px;
        border-color: forestgreen;
    } 
}
@media screen and (max-width: 1400px) {
    .progress {
        background: #D3D3D3;
        width: 50%;
        display: inline-block;
    }

        .progress .bar {
            width: 100%;
            height: 50px;
            text-align: center;
            font: bold;
            font-size: 45px;
            padding-bottom: 10px;
            font-family: Verdana;
        }

    .count {
        margin-left: 25px;
        margin-right: 25px;
        font: bold;
        font-size: 45px;
        display: inline-block;
        font-family: Verdana;
        width: 175px;
    }

    .button {
        border-radius: 10px;
        padding: 5px;
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
        font: 15px bold;
        display: inline-block;
        font-family: Verdana;
        cursor: pointer;
    }

        .button.switch {
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
        }

            .button.switch.active {
                color: gold;
            }

    .hidden {
        display: none !important;
    }

    .button.spec {
        background: rgb(0,0,0);
        width: 400px;
        height: 150px;
        margin: 10px;
        font: 30px bold;
        font-family: Verdana;
    }

    .button.setting {
        background: rgb(255,255,255);
        width: 300px;
        height: 150px;
        margin: 10px;
        font: 50px bold;
        font-family: Verdana;
        color: black;
        text-shadow: none;
    }

    .button.spec.bought {
        border: double thick;
        border-width: 5px;
        border-color: forestgreen;
    } 
}
